.editorWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.controls {
  margin: 10px 0;
}

.canvasContainer {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  canvas {
    border: 1px solid #000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 500px;
  z-index: 2;
  pointer-events: none;
}
.inputName {
  padding: 24px;
  border-radius: 8px;
  margin-bottom: 10px;
  // input {
  font-size: 32px;
  font-family: "FeltTipRomRegular", sans-serif;
  font-weight: 600;
  line-height: 36px;
  // }
}
